<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Terraforming Mars Player Board</title>
  <meta name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1.0, user-scalable=no">
  <meta name="Description"
    content="Terraforming Mars Player Board is an online player board for a Terraforming Mars board game. It keeps track of your resources, production, Terraforming Rating and current Generation. Greatly speeds up the game and keeps your table clutter-free!">
  <meta name="keywords" content="Terraforming,Mars,player,board,game,online">
  <meta name="author" content="https://boardgamegeek.com/user/jjjoe">

  <!-- Stylesheets -->
  <link href="css/screen.min.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <link href="css/style.min.css" media="screen, projection" rel="stylesheet" type="text/css" />

</head>

<body>

  <!-- template for the modal component -->
  <script type="text/x-template" id="modal-template">
    <transition name="modal">
      <div class="modal-mask">
        <div class="modal-wrapper">
          <div class="modal-container">

            <div class="modal-header">
              <slot name="header">
                default header
              </slot>
            </div>

            <div class="modal-body">
              <slot name="body">
                default body
              </slot>
            </div>

            <div class="modal-footer">
              <slot name="footer">
                default footer
                <button class="modal-default-button" @click="$emit('close')">
                  Cancel
                </button>
              </slot>
            </div>
          </div>
        </div>
      </div>
    </transition>
  </script>

  <div class="player-board" id="app">

    <div class="item item-first-row"></div>

    <div class="item item-menu">

      <!--    Made by Erik Terwan    -->
      <!--   24th of November 2015   -->
      <!--    All rights reserved    -->

      <nav role="navigation" class="menu-button">
        <div id="menuToggle">
          <input type="checkbox" id="menuToggleInput" />

          <i class="sidemenu-icon icon-menu"></i>


          <ul id="menu">
            <a @click="handleNewGameClick();">
              <li>New Game</li>
            </a>
            <li>
              <hr />
            </li>
            <!--
            <a href="#"><li>Undo</li></a>
            <a href="#"><li>Set Corporation</li></a>
            <li><hr /></li>
            -->
            <a href="https://boardgamegeek.com/article/27942034" target="_blank">
              <li>About</li>
            </a>
          </ul>
        </div>
      </nav>

    </div>

    <div class="item item-terraforming-rating">
      <div class="resource-value">
        <div class="resource-value-left">
          <div class="item-heading-value">
            <span v-cloak>{{ tr }}</span>
          </div>
          <div style="clear: both;"></div>
          <div class="item-heading-description">
            Terraforming Rating
          </div>
        </div>
        <div class="resource-value-right">
          <div class="modifiers">
            <button v-bind:disabled="tr >= 1 ? false : true" v-on:click="tr -= 1">-1</button>
            <button v-on:click="tr += 1">+1</button>
          </div>
        </div>
      </div>
    </div>
    <div class="item item-generation">
      <div class="resource-value">
        <div class="resource-value-left">
          <div class="item-heading-value">
            <span v-cloak>{{ generationCounter }}</span>
          </div>
          <div style="clear: both;"></div>
          <div class="item-heading-description">
            Generation
          </div>
        </div>
        <div class="resource-value-right">
          <div class="modifiers">
            <button v-on:click="productionPhase" class="btn-production">Production</button>
          </div>
        </div>
      </div>
    </div>

    <div class="item item-megacredits">
      <div class="item-inside">

        <div class="resource-value">
          <div class="resource-value-left">
            <div class="item-heading-value"><span v-cloak>{{ meValue }}</span></div>
            <div style="clear: both;"></div>
            <div class="item-heading-description">Megacredits</div>
          </div>
          <div style="clear: both;"></div>
          <div class="resource-value-right">
            <div class="modifiers">
              <button v-bind:disabled="meValue >= 10 ? false : true" v-on:click="meValue -= 10"
                class="first">-10</button>
              <button v-bind:disabled="meValue >= 5 ? false : true" v-on:click="meValue -= 5">-5</button>
              <button v-bind:disabled="meValue >= 1 ? false : true" v-on:click="meValue -= 1">-1</button>
              <button v-on:click="meValue += 1">+1</button>
            </div>
          </div>
          <div style="clear: both;"></div>
        </div>

        <div class="resource-production">
          <div class="resource-production-left">
            <div class="item-heading-value"><span v-cloak>{{ meProduction }}</span></div>
            <div style="clear: both;"></div>
            <div class="item-heading-description">Production</div>
          </div>
          <div class="resource-production-right">
            <div class="modifiers">
              <button v-bind:disabled="meProduction > -5 ? false : true" v-on:click="meProduction -= 1">-1</button>
              <button v-on:click="meProduction += 1">+1</button>
            </div>
          </div>
          <div style="clear: both;"></div>
        </div>
      </div>
    </div>

    <div class="item item-steel">
      <div class="resource-value">
        <div class="resource-value-left">
          <div class="item-heading-value"><span v-cloak>{{ steelValue }}</span> <span class="megacredits-value"
              v-cloak>M€{{ steelValue * 2}}</span></div>
          <div style="clear: both;"></div>
          <div class="item-heading-description">Steel</div>
        </div>
        <div style="clear: both;"></div>
        <div class="resource-value-right">
          <div class="modifiers">
            <button v-bind:disabled="steelValue >= 5 ? false : true" v-on:click="steelValue -= 5">-5</button>
            <button v-bind:disabled="steelValue >= 1 ? false : true" v-on:click="steelValue -= 1">-1</button>
            <button v-on:click="steelValue += 1">+1</button>
          </div>
        </div>
        <div style="clear: both;"></div>
      </div>
      <div class="resource-production">
        <div class="resource-production-left">
          <div class="item-heading-value"><span v-cloak>{{ steelProduction }}</span></div>
          <div style="clear: both;"></div>
          <div class="item-heading-description">Production</div>
        </div>
        <div class="resource-production-right">
          <div class="modifiers">
            <button v-bind:disabled="steelProduction >= 1 ? false : true" v-on:click="steelProduction -= 1">-1</button>
            <button v-on:click="steelProduction += 1">+1</button>
          </div>
        </div>
        <div style="clear: both;"></div>
      </div>
    </div>

    <div class="item item-titanium">
      <div class="resource-value">
        <div class="resource-value-left">
          <div class="item-heading-value"><span v-cloak>{{ titaniumValue }}</span> <span class="megacredits-value"
              v-cloak>M€{{ titaniumValue * 3}}</span></div>
          <div style="clear: both;"></div>
          <div class="item-heading-description">Titanium</div>
        </div>
        <div style="clear: both;"></div>
        <div class="resource-value-right">
          <div class="modifiers">
            <button v-bind:disabled="titaniumValue >= 5 ? false : true" v-on:click="titaniumValue -= 5">-5</button>
            <button v-bind:disabled="titaniumValue >= 1 ? false : true" v-on:click="titaniumValue -= 1">-1</button>
            <button v-on:click="titaniumValue += 1">+1</button>
          </div>
        </div>
        <div style="clear: both;"></div>
      </div>
      <div class="resource-production">
        <div class="resource-production-left">
          <div class="item-heading-value"><span v-cloak>{{ titaniumProduction }}</span></div>
          <div style="clear: both;"></div>
          <div class="item-heading-description">Production</div>
        </div>
        <div class="resource-production-right">
          <div class="modifiers">
            <button v-bind:disabled="titaniumProduction >= 1 ? false : true"
              v-on:click="titaniumProduction -= 1">-1</button>
            <button v-on:click="titaniumProduction += 1">+1</button>
          </div>
        </div>
        <div style="clear: both;"></div>
      </div>
    </div>

    <div class="item item-plants">
      <div class="resource-value">
        <div class="resource-value-left">
          <div class="item-heading-value"><span v-cloak>{{ plantsValue }}</span></div>
          <div style="clear: both;"></div>
          <div class="item-heading-description">Plants</div>
        </div>
        <div style="clear: both;"></div>
        <div class="resource-value-right">
          <div class="modifiers">
            <button v-bind:disabled="plantsValue >= 8 ? false : true" v-on:click="plantsValue -= 8"
              class="first">-8</button>
            <button v-bind:disabled="plantsValue >= 5 ? false : true" v-on:click="plantsValue -= 5">-5</button>
            <button v-bind:disabled="plantsValue >= 1 ? false : true" v-on:click="plantsValue -= 1">-1</button>
            <button v-on:click="plantsValue += 1">+1</button>
          </div>
        </div>
        <div style="clear: both;"></div>
      </div>
      <div class="resource-production">
        <div class="resource-production-left">
          <div class="item-heading-value"><span v-cloak>{{ plantsProduction }}</span></div>
          <div style="clear: both;"></div>
          <div class="item-heading-description">Production</div>
        </div>
        <div class="resource-production-right">
          <div class="modifiers">
            <button v-bind:disabled="plantsProduction >= 1 ? false : true"
              v-on:click="plantsProduction -= 1">-1</button>
            <button v-on:click="plantsProduction += 1">+1</button>
          </div>
        </div>
        <div style="clear: both;"></div>
      </div>
    </div>

    <div class="item item-energy">
      <div class="resource-value">
        <div class="resource-value-left">
          <div class="item-heading-value"><span v-cloak>{{ energyValue }}</span></div>
          <div style="clear: both;"></div>
          <div class="item-heading-description">Energy</div>
        </div>
        <div style="clear: both;"></div>
        <div class="resource-value-right">
          <div class="modifiers">
            <button v-bind:disabled="energyValue >= 5 ? false : true" v-on:click="energyValue -= 5">-5</button>
            <button v-bind:disabled="energyValue >= 1 ? false : true" v-on:click="energyValue -= 1">-1</button>
            <button v-on:click="energyValue += 1">+1</button>
          </div>
        </div>
        <div style="clear: both;"></div>
      </div>
      <div class="resource-production">
        <div class="resource-production-left">
          <div class="item-heading-value"><span v-cloak>{{ energyProduction }}</span></div>
          <div style="clear: both;"></div>
          <div class="item-heading-description">Production</div>
        </div>

        <div class="resource-production-right">
          <div class="modifiers">
            <button v-bind:disabled="energyProduction >= 1 ? false : true"
              v-on:click="energyProduction -= 1">-1</button>
            <button v-on:click="energyProduction += 1">+1</button>
          </div>
        </div>
        <div style="clear: both;"></div>
      </div>
    </div>

    <div class="item item-heat">
      <div class="resource-value">
        <div class="resource-value-left">
          <div class="item-heading-value"><span v-cloak>{{ heatValue }}</span></div>
          <div style="clear: both;"></div>
          <div class="item-heading-description">Heat</div>
        </div>
        <div style="clear: both;"></div>
        <div class="resource-value-right">
          <div class="modifiers">
            <button v-bind:disabled="heatValue >= 8 ? false : true" v-on:click="heatValue -= 8"
              class="first">-8</button>
            <button v-bind:disabled="heatValue >= 5 ? false : true" v-on:click="heatValue -= 5">-5</button>
            <button v-bind:disabled="heatValue >= 1 ? false : true" v-on:click="heatValue -= 1">-1</button>
            <button v-on:click="heatValue += 1">+1</button>
          </div>
        </div>
        <div style="clear: both;"></div>
      </div>
      <div class="resource-production">
        <div class="resource-production-left">
          <div class="item-heading-value"><span v-cloak>{{ heatProduction }}</span></div>
          <div style="clear: both;"></div>
          <div class="item-heading-description">Production</div>
        </div>
        <div class="resource-production-right">
          <div class="modifiers">
            <button v-bind:disabled="heatProduction >= 1 ? false : true" v-on:click="heatProduction -= 1">-1</button>
            <button v-on:click="heatProduction += 1">+1</button>
          </div>
        </div>
        <div style="clear: both;"></div>
      </div>
    </div>

    <div class="item item-actions">
      <div class="resource-value">
        <div class="resource-value-left">
        </div>
        <div class="resource-value-right">
          <div class="card-actions">
            <button id="show-projects-modal" @click="showProjectsModal = true" class="projects-button">Projects</button>
            <button id="show-cards-modal" @click="showCardsModal = true" class="cards-button">Cards</button>
          </div>
        </div>
      </div>
    </div>

    <modal v-if="showProjectsModal" @close="showProjectsModal = false" ref="projectsModal">
      <h3 slot="header">Select Standard Project</h3>
      <div slot="body">
        <div class="projects-modal-body">
          <button class="btn-project-power-plant" v-bind:disabled="meValue >= 11 ? false : true"
            v-on:click="handlePowerPlantButtonClick">Power Plant<br /><span class="project-price">M€11</span></button>
          <button class="btn-project-asteroid" v-bind:disabled="meValue >= 14 ? false : true"
            v-on:click="handleAsteroidButtonClick">Asteroid<br /><span class="project-price">M€14</span></button>
          <button class="btn-project-aquifier" v-bind:disabled="meValue >= 18 ? false : true"
            v-on:click="handleAquifierButtonClick">Aquifier<br /><span class="project-price">M€18</span></button>
          <button class="btn-project-greenery" v-bind:disabled="meValue >= 23 ? false : true"
            v-on:click="handleGreeneryButtonClick">Greenery<br /><span class="project-price">M€23</span></button>
          <button class="btn-project-city" v-bind:disabled="meValue >= 25 ? false : true"
            v-on:click="handleCityButtonClick">City<br /><span class="project-price">M€25</span></button>
        </div>
      </div>
      <div slot="footer">
        <div class="footer-balance">
          Your balance M€{{ meValue }}
        </div>
        <div>
          <button class="modal-default-button" v-on:click="handleCancelButtonClick">Cancel</button>
          <div style="clear: both;"></div>
        </div>
      </div>
    </modal>

    <modal v-if="showCardsModal" @close="showCardsModal = false" ref="cardsModal">
      <h3 slot="header">Buy Cards</h3>
      <div slot="body">
        <div class="cards-modal-body">
          <button class="btn-1-card" v-bind:disabled="meValue >= 3 ? false : true" v-on:click="handleCardsModal1Card">1
            Card<br /><span class="card-price">M€3</span></button>
          <button class="btn-2-cards" v-bind:disabled="meValue >= 6 ? false : true"
            v-on:click="handleCardsModal2Cards">2 Cards <br /><span class="card-price">M€6</span></button>
          <button class="btn-3-cards" v-bind:disabled="meValue >= 9 ? false : true"
            v-on:click="handleCardsModal3Cards">3 Cards <br /><span class="card-price">M€9</span></button>
          <button class="btn-4-cards" v-bind:disabled="meValue >= 12 ? false : true"
            v-on:click="handleCardsModal4Cards">4 Cards <br /><span class="card-price">M€12</span></button>
        </div>
      </div>
      <div slot="footer">
        <div class="footer-balance">
          Your balance M€{{ meValue }}
        </div>
        <div>
          <button class="modal-default-button" v-on:click="handleCardsModalCancelButtonClick">Cancel</button>
          <div style="clear: both;"></div>
        </div>
      </div>
    </modal>

  </div>
  <script src="js/bundle.js"></script>
</body>

</html>