@import url('https://fonts.googleapis.com/css?family=Play');

@font-face {
  font-family: 'fontawesometmpb';
  src: url('../font/fontawesometmpb.eot?84050490');
  src: url('../font/fontawesometmpb.eot?84050490#iefix') format('embedded-opentype'),
       url('../font/fontawesometmpb.woff?84050490') format('woff'),
       url('../font/fontawesometmpb.ttf?84050490') format('truetype'),
       url('../font/fontawesometmpb.svg?84050490#fontawesometmpb') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Landscape
$pw-landscape: 1vw; // padding w
$ph-landscape: 1.7777vh; // padding h -- 16:9 aspect ratio
$button-width-landscape: (99vw - (6 * $pw-landscape) - (3 * 1.5 * $pw-landscape)) / 12;
$button-height-landscape: (99vh - 12 * $ph-landscape) / 7;

// Portrait
$pw-portrait: 1.7777vw; // padding w
$ph-portrait: 1vh; // padding h
$button-width-portrait: (99vw - (7 * $pw-portrait)) / 8;
$button-height-portrait: (99vh - 19 * $ph-portrait) / 11;

$item-heading-text-shadow: 0 0 5px #000;

.sidemenu-icon, .sidemenu-icon::after {
  z-index: 1;
  position: relative;
  transition: color 0.5s ease;
  font-size: $button-height-landscape * 0.3;
  font-family: "fontawesometmpb";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  /*
  width: 1em;
  margin-right: .2em;
  margin-left: .2em;
  */
  text-align: center;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  @media only screen and (orientation: landscape) {
    line-height: $button-height-landscape;
  }
  @media only screen and (orientation: portrait) {
    line-height: $button-height-portrait;
  }

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body { 
  margin: 0; 
  padding: 0; 
  height: 100%; 
  background-color: #000;
  line-height: 1;
}

body { 
  padding: 0em;
  color: #eee;
  font-family: "Play", sans-serif;
  font-weight: bold;
  font-style: normal;
  background-color: #000;
  overflow: hidden;
}

[v-cloak] {
  display: none;
}

@media only screen and (orientation: landscape) {
  .player-board {
    display: grid;
    grid-template-columns: 33.33333% 33.33333% auto $button-width-landscape + 2 * $pw-landscape;
    grid-template-rows: ($ph-landscape * 2 + $button-height-landscape) auto auto;
    grid-template-areas: 
      "terraforming-rating generation actions menu"
      "megacredits steel titanium titanium"
      "plants energy heat heat";
    grid-gap: 0px;
    justify-content: stretch;	
    height: 100%;
  }
}

@media only screen and (orientation: portrait) {
  .player-board {
    display: grid;
    grid-template-columns: 50% auto auto;
    grid-template-rows: ($ph-portrait * 2 + $button-height-portrait) ($ph-portrait * 2 + $button-height-portrait) auto auto auto;
    grid-template-areas: 
      "generation - menu"
      "terraforming-rating actions actions"
      "megacredits plants plants"
      "steel titanium titanium" 
      "energy heat heat";
    grid-gap: 0px;
    justify-content: stretch;	
    height: 100%;
  }
}

.item-first-row {
  @media only screen and (orientation: landscape) {
    grid-column: 1 / span 3;
    grid-row: 1 / 2;
  }  
  @media only screen and (orientation: portrait) {
    grid-column: 1 / span 2;
    grid-row: 1 / 3;
  }  
  
  /* https://pixabay.com/en/mars-land-planet-cosmos-stars-2051748/ */
  background: linear-gradient(rgba(0,0,0, 0.65), rgba(0,0,0, 0.25)), url('../img/mars.jpg');
}

.item-menu {
  grid-area: menu;
  justify-self: stretch;
  align-self: stretch;
  @media only screen and (orientation: portrait) {
    width: $button-width-portrait;
  }
}

.item-menu button::after { 
  @media only screen and (orientation: portrait) {
    content: " Menu";
  }
}

.item-terraforming-rating {
  grid-area: terraforming-rating;
}

.item-generation {
  grid-area: generation;
}

.item-actions {
  grid-area: actions;
}

.item-megacredits {
  grid-area: megacredits;
  
  /* https://www.pexels.com/photo/pile-of-gold-round-coins-106152/ */
  background: linear-gradient(rgba(0,0,0, 0.65), rgba(0,0,0, 0.25)), url('../img/me.jpg');
}

.item-steel {
  grid-area: steel;
  
  /* Photo by Sergei Akulich on Unsplash - https://unsplash.com/photos/xdj_w3w6dMU */
  background: linear-gradient(rgba(0,0,0, 0.65), rgba(0,0,0, 0.25)), url('../img/steel.jpg');
}

.item-titanium {
  grid-area: titanium;
  
  /* Photo by Andrew Childress on Unsplash - https://unsplash.com/photos/ZX3xxcsl8C4 */
  background: linear-gradient(rgba(0,0,0, 0.65), rgba(0,0,0, 0.25)), url('../img/titanium.jpg');
}

.item-plants {
  grid-area: plants;
  
  /* Photo by Niilo Isotalo on Unsplash - https://unsplash.com/photos/8Cpt0rYRt90 */
  background: linear-gradient(rgba(0,0,0, 0.65), rgba(0,0,0, 0.25)), url('../img/plants.jpg');
}

.item-energy {
  grid-area: energy;
  
  /* Photo by Hal Gatewood on Unsplash - https://unsplash.com/photos/OgvqXGL7XO4 */
  background: linear-gradient(rgba(0,0,0, 0.65), rgba(0,0,0, 0.25)), url('../img/energy.jpg');
}

.item-heat {
  grid-area: heat;
  /* Photo by raquel raclette on Unsplash - https://unsplash.com/photos/MYjFOiVWWT8 */
  background: linear-gradient(rgba(0,0,0, 0.65), rgba(0,0,0, 0.25)), url('../img/heat.jpg');
}

.item {
  @media only screen and (orientation: landscape) {
    padding: $ph-landscape $pw-landscape; 
  }
  @media only screen and (orientation: portrait) {
    padding: $ph-portrait $pw-portrait; 
  }
  background-size: cover;
  background-position: 50% 50%;
}

.item-actions {
  @media only screen and (orientation: landscape) {
    padding-right: 0;
  }
}

.resource-value {
  @media only screen and (orientation: landscape) {
    margin-bottom: 2 * $ph-landscape;
  }
  @media only screen and (orientation: portrait) {
    margin-bottom: 2 * $ph-portrait; 
  }
}

.item-heading {
  @media only screen and (orientation: landscape) {
    line-height: $button-height-landscape / 2;
    font-size: 0.6 * $button-height-landscape / 2;
    margin-bottom: $ph-landscape;
  }
  @media only screen and (orientation: portrait) {
    line-height: $button-height-portrait / 2;
    font-size: 0.6 * $button-height-portrait / 2;
    margin-bottom: $ph-portrait;
  }
}

.item-heading-value {
  @media only screen and (orientation: landscape) {
    line-height: 0.7 * $button-height-landscape;
    font-size: 0.7 * $button-height-landscape;
  }
  @media only screen and (orientation: portrait) {
    line-height: 0.7 * $button-height-portrait;
    font-size: 0.7 * $button-height-portrait;
  }
  text-shadow: $item-heading-text-shadow; 
}

.item-heading-description {
  @media only screen and (orientation: landscape) {
    line-height: 0.3 * $button-height-landscape;
    font-size: 0.3 * 0.75 * $button-height-landscape;  
  }
  @media only screen and (orientation: portrait) {
    line-height: 0.3 * $button-height-portrait;
    font-size: 0.3 * 0.75 * $button-height-portrait;
  }
  text-shadow: $item-heading-text-shadow;
}

.item-heading-secondary {
  font-size: 3vh; 
  margin: 0 0 1vh;
  text-shadow: 0 0 5px #000;
}

.primary-value {
  font-size: 4vh;
  font-weight: bold;
  text-shadow: 0 0 5px #000;
}

.megacredits-value {
  @media only screen and (orientation: landscape) {
    font-size: 0.7 * 0.5 * $button-height-landscape;
    line-height: 0.7 * 0.5 * $button-height-landscape;  
  }
  @media only screen and (orientation: portrait) {
    font-size: 0.7 * 0.5 * $button-height-portrait;
    line-height: 0.7 * 0.5 * $button-height-portrait;
  }
  font-weight: normal;
  font-style: italic;
  text-shadow: 0 0 5px #000;
}

.resource-value-left, .resource-production-left {
  float: left; 
  margin-right: -30vh;
}

.item-megacredits .resource-value-left,
.item-steel .resource-value-left,
.item-titanium .resource-value-left,
.item-plants .resource-value-left,
.item-energy .resource-value-left,
.item-heat .resource-value-left {
  @media only screen and (orientation: landscape) {
    margin-bottom: $ph-landscape; 
  }
  @media only screen and (orientation: portrait) {
    margin-bottom: $ph-portrait;
  }
}

.resource-value-right, .resource-production-right {
  float: right;
  width: 100%;
}

.item-secondary-value {
  display: inline;
  font-size: 3vh;
}

.modifiers {
  float: right;
  font-size: 0; /* For removing white-space between buttons */
}

.modifiers.bottom {
  margin-top: 1vh;
}

.game-actions {
  float: right;
  margin-bottom: 1vh;
  font-size: 0; /* For removing white-space between buttons */
}

.card-actions {
  display: grid;
  @media only screen and (orientation: landscape) {
    grid-template-columns: auto auto;
    grid-gap: $pw-landscape / 2;
  }
  @media only screen and (orientation: portrait) {
    grid-template-columns: auto auto;
    grid-gap: $pw-portrait / 2;
  }
  grid-template-areas: 
    "projects-button cards-button";
  justify-content: stretch;	
}

.projects-button {
  grid-area: projects-button;
}

.cards-button {
  grid-area: cards-button;
}

.menu-button {
  grid-area: menu-button;
}
  
button, button:focus {
  @media only screen and (orientation: landscape) {
    font-size: $button-height-landscape * 0.3;
    height: $button-height-landscape;
    line-height: $button-height-landscape;
    min-width: $button-width-landscape;
    padding: 0vh $pw-landscape;
    margin: 0 0 0 0.5 * $pw-landscape;
  }
  @media only screen and (orientation: portrait) {
    font-size: $button-height-portrait * 0.3;
    height: $button-height-portrait;
    line-height: $button-height-portrait;
    min-width: $button-width-portrait;
    padding: 0vh $pw-portrait;
    margin: 0 0 0 0.5 * $pw-portrait;
  }
  margin-bottom: 0;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
  background-color: rgba(0, 0, 0, 0.8);
  border: none;
  color: #ddd;
  border-radius: 0.5vmin;
  letter-spacing: normal;
  text-shadow: none;
  text-transform: none;
  font-family: "Play", sans-serif;
  font-weight: bold;
}

button.first {
  margin-left: 0;
}

button:hover {
  color: #fff;
  border: none; /*1px solid rgba(0, 0, 0, 0.85);*/
  text-shadow: none; /*0 0 2vh rgba(255, 255, 0, 1);*/
}

button:active {
  background-color: #000; 
  /*border-color: #000;*/
  text-shadow: none;
}

button[disabled], button[disabled]:hover, button[disabled]:focus, button[disabled]:active {
  color: rgba(255, 255, 255, 0.2);
  border: none; /*1px solid rgba(0, 0, 0, 0.4);*/
  background: rgba(0, 0, 0, 0.4);
  text-shadow: none;
  box-shadow: none;
}

button.button-primary {
  background-color: rgba(18, 68, 143, 0.7);
  /*border-color: rgba(18, 68, 143, 0.7);*/
  color: #ddd;
}

button.button-primary:hover {
  background-color: rgba(18, 68, 143, 0.5);
  /*border-color: rgba(18, 68, 143, 0.5);*/
  text-shadow: none; /*0 0 2vh rgba(45, 223, 255, 1);*/
  color: #fff;
}

.game-actions button, .modal-body button, .modal-footer button {
  padding: 0 3vh;
}

.card-actions button {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;  
  display: block;
  padding: 0 0.5vw;
  margin: 0;
  @media only screen and (orientation: landscape) {
    min-width: $button-width-landscape;
  }
  @media only screen and (orientation: portrait) {
    min-width: $button-width-portrait;
  }
}

button.hamburger-menu {
  background: none;
  box-shadow: none;
}

@media only screen and (orientation: portrait) {
  .btn-production {
    min-width: $button-width-portrait * 2 + $pw-portrait / 2;
  }
}
/* 
 * Modal window 
 */
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .85);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 66vw;
  margin: 0px auto;
  padding: 4vh;
  border-radius: 1vh;
  box-shadow: 0 0 4vh #000;
  transition: all .3s ease;
  font-family: "Play", sans-serif;
  background-color: #000;
  /* Modal dialog background, licensed under CC-BY-SA 3.0, based on Hexagonal Grid Wallpaper v0.1 (https://adoomer.deviantart.com/art/Hexagonal-Grid-Wallpaper-v0-1-220052005) by Adoomer (https://adoomer.deviantart.com/) */
  background: url('../img/hex-bg.jpg');
  background-size: cover;
  background-position: center;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.modal-header h3 {
  margin-top: 0;
  color: #ddd;
  font-family: "Play", sans-serif;
  font-size: 5vmin;
  text-shadow: 0.3vh 0.3vh 0.3vh rgba(0, 0, 0, 0.75);
}

.modal-body {
  margin: 4vh 0;
}

.modal-default-button {
  float: right;
}

.modal-body {
  font-size: 0; /* To remove gaps between buttons */
}

.modal-footer {
  font-size: 3vmin;
}

.footer-balance {
  float: left;
  line-height: 10vmin;
  color: #ccc;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Cards Modal */
.cards-modal-body {
  display: grid;
  @media only screen and (orientation: landscape) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "one-card two-cards three-cards four-cards";
    grid-gap: $pw-landscape;
  }
  @media only screen and (orientation: portrait) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
      "one-card two-cards" 
      "three-cards four-cards";
    grid-gap: $pw-portrait;
  }
  justify-content: stretch;	
}

.btn-1-card {
  grid-area: one-card;
}

.btn-2-cards {
  grid-area: two-cards;
}

.btn-3-cards {
  grid-area: three-cards;
}

.btn-4-cards {
  grid-area: four-cards;
}

.cards-modal-body button {
  width: 100%;
  height: 20vmin;
  line-height: 5vmin;
  font-size: 4vmin;
}

.card-price {
  font-size: smaller;
  font-style: italic;
  color: #ccc;
}

button[disabled] .card-price {
  color: #444;
}


/* Projects Modal */
.projects-modal-body {
  display: grid;
  @media only screen and (orientation: landscape) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
      "power-plant asteroid aquifier" 
      "greenery city .";
    grid-gap: $pw-landscape;
  }
  @media only screen and (orientation: portrait) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
      "power-plant asteroid"
      "aquifier greenery" 
      "city .";
    grid-gap: $pw-portrait;
  }
  justify-content: stretch;	
}

.btn-project-power-plant {
  grid-area: power-plant;
}

.btn-project-asteroid {
  grid-area: asteroid;
}

.btn-project-aquifier {
  grid-area: aquifier;
}

.btn-project-greenery {
  grid-area: greenery;
}

.btn-project-city {
  grid-area: city;
}

.projects-modal-body button {
  width: 100%;
  @media only screen and (orientation: landscape) {
    height: 20vh;
    line-height: 5vh;
    font-size: 4vh;
  }
  @media only screen and (orientation: portrait) {
    height: 20vw;
    line-height: 5vw;
    font-size: 4vw;
  }
}

.project-price {
  font-size: smaller;
  font-style: italic;
  color: #ccc;
}

button[disabled] .project-price {
  color: #444;
}


/* Hamburger menu */
/*
 * Made by Erik Terwan
 * 24th of November 2015
 * All rights reserved
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */

#menuToggle
{
  display: block;
  position: relative;
  text-align: center;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
  margin: 0;
}

.icon-menu::after {
  content: "\f0c9";
}

#menuToggle input:checked ~ .icon-menu::after
{
  content: "\e800";
  color: #000;
}

#menu
{
  position: absolute;
  $menu-width-landscape: 30vw;
  $menu-width-portrait: 50vw;
  
  @media only screen and (orientation: landscape) {
    width: $menu-width-landscape;
    height: 100vh;
    padding: $button-width-landscape / 2;
    margin: (-$ph-landscape - $button-height-landscape) 0 0 (-$menu-width-landscape + $pw-landscape + 1vw); /* +1vw margin-left just to make sure it is hidden */
    padding-top: $ph-landscape + $button-height-landscape;
  }
  
  @media only screen and (orientation: portrait) {
    width: $menu-width-portrait;
    height: 100vh;
    padding: $button-width-portrait / 2;
    margin: (-$ph-portrait - $button-height-portrait) 0 0 (-$menu-width-portrait + $pw-portrait + 1vw); /* +1vw margin-left just to make sure it is hidden */
    padding-top: $ph-portrait + $button-height-portrait;
  }
  
  box-shadow: 0 0 2vw #000;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  @media only screen and (orientation: landscape) {
    font-size: $button-height-landscape * 0.3;
    line-height: $button-height-landscape * 0.8;
  }
  @media only screen and (orientation: portrait) {
    font-size: $button-height-portrait * 0.3;
    line-height: $button-height-portrait * 0.8;
  }
  text-align: left;
  color: #333;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

#menu a {
  text-decoration: none;
  cursor: pointer;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}